@charset "utf-8";

#profile_image{
  max-height: 200px;
  max-width: 200px;
}

.table-borderless{
  border:none;
}

.mathread-title{
  margin-left:30px;
  color: red;
}

.language{
}

.col-sm-10{
  margin-top:30px;
}

.col-sm-6{
  margin-top:40px;
}

.list-inline{
  margin-bottom:0;
}

